*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
0286603f-fb2f-4e1f-9f55-704a83be04e3.mov filter=lfs diff=lfs merge=lfs -text
028af814-3ec4-4495-8b4a-f1907058d937.mov filter=lfs diff=lfs merge=lfs -text
0333c6db-ddf3-46f4-b27c-dbd9743fe062.mov filter=lfs diff=lfs merge=lfs -text
05d29b75-89a0-4089-85d9-71cc47fd6b67.mov filter=lfs diff=lfs merge=lfs -text
07ca2950-0be9-46b9-821c-fd9204f13866.mov filter=lfs diff=lfs merge=lfs -text
0b3b1462-763d-47e9-87fc-8259cd375389.mov filter=lfs diff=lfs merge=lfs -text
0b90196d-df67-448c-8f0e-60addb6246df.mov filter=lfs diff=lfs merge=lfs -text
11c8a14c-952f-4b4d-ab12-953119e228b9.mov filter=lfs diff=lfs merge=lfs -text
1608f7e4-20a7-4979-a424-159bac46a23e.mov filter=lfs diff=lfs merge=lfs -text
17bdbd8c-bee5-47a5-9907-ee2d1c34dbbd.mov filter=lfs diff=lfs merge=lfs -text
2394a0d0-8a54-4d84-8693-daf23bff0111.mov filter=lfs diff=lfs merge=lfs -text
246f4fdd-9b1d-4923-8bc4-b0c2a58300f5.mov filter=lfs diff=lfs merge=lfs -text
25f890c0-0669-41bf-8136-2a1a2d0ff22c.mov filter=lfs diff=lfs merge=lfs -text
26a19017-269e-4746-91d8-a1addc481909.mov filter=lfs diff=lfs merge=lfs -text
27fbb075-32a9-41b4-807e-a721353ca67a.mov filter=lfs diff=lfs merge=lfs -text
28612a08-9d71-402a-bbde-634bacffb4df.mov filter=lfs diff=lfs merge=lfs -text
288dda9a-e995-47fd-bb39-c13b62b9934f.mov filter=lfs diff=lfs merge=lfs -text
2913f7ba-da0d-4764-a70b-e4913c9748fa.mov filter=lfs diff=lfs merge=lfs -text
299ceb80-a546-45cd-abca-94019e3c50b4.mov filter=lfs diff=lfs merge=lfs -text
30cef786-b0fa-4f26-b3be-79aad52f8ed5.mov filter=lfs diff=lfs merge=lfs -text
3184b719-7df1-4c51-bc01-32cc09522bf4.mov filter=lfs diff=lfs merge=lfs -text
31a43cfd-c732-4fe8-a672-21ba09480635.mov filter=lfs diff=lfs merge=lfs -text
3411539f-a469-43d8-83bc-579833badbe5.mov filter=lfs diff=lfs merge=lfs -text
3cc35656-d950-42c8-9c7d-7d509b97b1d2.mov filter=lfs diff=lfs merge=lfs -text
46a07df6-c4d8-4733-8041-0032065954fa.mov filter=lfs diff=lfs merge=lfs -text
4b1bcf49-3f41-4615-9cce-6e72fd54ab30.mov filter=lfs diff=lfs merge=lfs -text
4b26bd4a-8af0-4456-8e10-149da9fa5603.mov filter=lfs diff=lfs merge=lfs -text
4d3534b8-b67f-42a4-b570-b0556c9695d4.mov filter=lfs diff=lfs merge=lfs -text
4d3a99a9-bf93-4006-a786-f8a5283a7d8e.mov filter=lfs diff=lfs merge=lfs -text
52dedb5c-ae57-4b44-9653-c2d4cfcfd20d.mov filter=lfs diff=lfs merge=lfs -text
537aa143-6a9f-4be8-82ca-222860b7918b.mov filter=lfs diff=lfs merge=lfs -text
537fc0e6-aed2-4bc4-98bc-68fe19636934.mov filter=lfs diff=lfs merge=lfs -text
560242b4-e353-40e4-8765-beeca0d63a70.mov filter=lfs diff=lfs merge=lfs -text
5625150c-1e8f-4cb9-b9a6-6e07885de76e.mov filter=lfs diff=lfs merge=lfs -text
57f1b2d8-b840-46f7-8010-a1f382882360.mov filter=lfs diff=lfs merge=lfs -text
581b9495-d266-4eae-9490-48afb668717a.mov filter=lfs diff=lfs merge=lfs -text
5a04fe0b-2dc2-4350-a1c1-2b7f49f670cf.mov filter=lfs diff=lfs merge=lfs -text
5a21c1d2-9402-40c2-922c-01f80cfce4a3.mov filter=lfs diff=lfs merge=lfs -text
5a36a505-785b-4032-82f2-e639eddb82c3.mov filter=lfs diff=lfs merge=lfs -text
5ac4c9e0-8150-4baa-9fcc-194775cc85fd.mov filter=lfs diff=lfs merge=lfs -text
5c87f277-9e49-4ea4-8dec-cda038fd7b19.mov filter=lfs diff=lfs merge=lfs -text
5cc9fd73-d5ba-4882-8d04-827b380d307b.mov filter=lfs diff=lfs merge=lfs -text
5da859d5-521d-4e6a-879f-11ceedc0cfc9.mov filter=lfs diff=lfs merge=lfs -text
5dcceb38-9839-4a1a-b1de-4f382a4e315a.mov filter=lfs diff=lfs merge=lfs -text
62279056-e38b-44dc-a55d-17a667485495.mov filter=lfs diff=lfs merge=lfs -text
633f0d0f-dad1-4418-a11e-727ffad0d012.mov filter=lfs diff=lfs merge=lfs -text
64672066-565e-41a0-a0d7-be4890df9bcb.mov filter=lfs diff=lfs merge=lfs -text
64f44e20-213a-4c8d-a321-c12318dbbbaf.mov filter=lfs diff=lfs merge=lfs -text
68f7353c-dfcf-456d-9ca8-fdc0eade3bd7.mov filter=lfs diff=lfs merge=lfs -text
692e3a84-d28e-4df3-8a59-957be794cfdd.mov filter=lfs diff=lfs merge=lfs -text
6fa34757-1ee9-46e1-b47c-40ea776914e3.mov filter=lfs diff=lfs merge=lfs -text
702628c4-1799-4974-b552-3ba346fed55c.mov filter=lfs diff=lfs merge=lfs -text
716a2bb1-26f9-436a-abca-ebd2ccf38003.mov filter=lfs diff=lfs merge=lfs -text
74980b93-4e1e-45e4-b4c7-e78b2127b7c5.mov filter=lfs diff=lfs merge=lfs -text
74ae9a37-921a-4149-9509-bb12d2b362f1.mov filter=lfs diff=lfs merge=lfs -text
79e08bd3-a936-48a9-baa6-c6b30fae6e7a.mov filter=lfs diff=lfs merge=lfs -text
7b71c881-f73f-46d9-ab30-a37b605e2e5b.mov filter=lfs diff=lfs merge=lfs -text
7dc0e9eb-22c6-477c-85d5-5e7f4e9cfa96.mov filter=lfs diff=lfs merge=lfs -text
81c6e565-fbc6-4dcc-a77d-a1408b513155.mov filter=lfs diff=lfs merge=lfs -text
8512acf1-dd46-4942-9394-7df248d767fa.mov filter=lfs diff=lfs merge=lfs -text
8988ab26-c5ed-4520-bb72-1983f269dc92.mov filter=lfs diff=lfs merge=lfs -text
8a8cb263-bbe3-4bc2-98fe-cd9cbd303a17.mov filter=lfs diff=lfs merge=lfs -text
8c5c3c07-5093-4088-b9e8-4bad001b68ef.mov filter=lfs diff=lfs merge=lfs -text
910bc55e-2d18-4874-9559-6aa0866302e4.mov filter=lfs diff=lfs merge=lfs -text
918bf05d-fb5e-451c-95a4-0b0a96f61402.mov filter=lfs diff=lfs merge=lfs -text
9373d2d9-e8d7-4ca3-afaf-f261a65c49e6.mov filter=lfs diff=lfs merge=lfs -text
9591007a-bc83-4a22-9db4-cd46b5181594.mov filter=lfs diff=lfs merge=lfs -text
972d82d2-a2e4-4926-bed9-b796475a8ee3.mov filter=lfs diff=lfs merge=lfs -text
97ca50e6-df40-439f-b005-f81203f4feef.mov filter=lfs diff=lfs merge=lfs -text
981e91a7-cd81-48d9-bd1b-0f984205ac4b.mov filter=lfs diff=lfs merge=lfs -text
98a178b8-956d-473d-84cc-572ddca89bba.mov filter=lfs diff=lfs merge=lfs -text
99df7a09-f2fd-4870-b8da-45285c09612d.mov filter=lfs diff=lfs merge=lfs -text
9d83935b-65ac-4038-bdde-86863a708c86.mov filter=lfs diff=lfs merge=lfs -text
9e25ae79-591f-47de-aaa5-de790273bddc.mov filter=lfs diff=lfs merge=lfs -text
9f213419-dee6-4ec7-9716-6d99c965f6f3.mov filter=lfs diff=lfs merge=lfs -text
9ff7a57e-bdfd-48d1-bc82-9da41d03e45f.mov filter=lfs diff=lfs merge=lfs -text
a5b070c8-ab67-48bd-8381-3a0ea4a9520a.mov filter=lfs diff=lfs merge=lfs -text
a6094e5e-d247-4c94-8050-53ffb53a02ce.mov filter=lfs diff=lfs merge=lfs -text
a77aa9ef-9ec3-4fd8-b449-7219a6ec4c32.mov filter=lfs diff=lfs merge=lfs -text
a7ee36c6-8308-45bf-b6c7-9ccf6f2764e9.mov filter=lfs diff=lfs merge=lfs -text
b030790f-1247-4385-b86e-18f94c487f16.mov filter=lfs diff=lfs merge=lfs -text
b4f95042-0cea-41fd-9a14-6386612b80d0.mov filter=lfs diff=lfs merge=lfs -text
b5396371-f60c-4d6c-be83-5bf2496b12f7.mov filter=lfs diff=lfs merge=lfs -text
be3ff1d3-95f4-4cd5-830c-7c2f52d47da4.mov filter=lfs diff=lfs merge=lfs -text
c01f2d6a-db43-47c9-8c62-ab8cb6be50ed.mov filter=lfs diff=lfs merge=lfs -text
c0f2269a-d455-4d10-8476-d840bda0a8a0.mov filter=lfs diff=lfs merge=lfs -text
c2f3a2cf-a191-4380-b603-4da67f39f848.mov filter=lfs diff=lfs merge=lfs -text
c496dcd0-18a6-478e-a9dd-85b647175952.mov filter=lfs diff=lfs merge=lfs -text
ca648f5f-3ccd-4c02-94aa-2bd973ef5846.mov filter=lfs diff=lfs merge=lfs -text
cbfbd750-0c08-4e54-9c7f-2f996475d574.mov filter=lfs diff=lfs merge=lfs -text
cf0d805d-2db6-4d88-92d2-b9164a4309d6.mov filter=lfs diff=lfs merge=lfs -text
cf6f035e-a0f9-414b-b5a6-5eb69a977733.mov filter=lfs diff=lfs merge=lfs -text
cfce1b58-181f-4eed-94d0-0e51c791106b.mov filter=lfs diff=lfs merge=lfs -text
d046d3ff-bd3f-4a25-aa74-2ca612ab66d2.mov filter=lfs diff=lfs merge=lfs -text
d0d27239-5bcd-4557-9387-9400f41a2977.mov filter=lfs diff=lfs merge=lfs -text
d5151daa-c357-4e80-8003-80c94b97eec4.mov filter=lfs diff=lfs merge=lfs -text
d6706d30-80de-48c8-867e-bdd026368d9e.mov filter=lfs diff=lfs merge=lfs -text
d7d6ef01-2892-4ef8-a920-78a946e9dbe5.mov filter=lfs diff=lfs merge=lfs -text
d9d1c557-d1bd-43b3-b294-954192874de0.mov filter=lfs diff=lfs merge=lfs -text
da26d1e2-f1f5-4987-a5b2-ff95e4a88b02.mov filter=lfs diff=lfs merge=lfs -text
db1b2e5e-ee9e-4910-8f82-9f0b7b24a1ef.mov filter=lfs diff=lfs merge=lfs -text
df4a6dc0-084c-4e64-b379-75e6cc0d8f46.mov filter=lfs diff=lfs merge=lfs -text
e67fe063-eff2-442f-be26-25eccccbe1a7.mov filter=lfs diff=lfs merge=lfs -text
e6e7a5f0-918f-48aa-9bbf-dd1ea0ae631c.mov filter=lfs diff=lfs merge=lfs -text
e986decb-4507-40c2-a13e-de8985ec0f1e.mov filter=lfs diff=lfs merge=lfs -text
ea4fc3a7-76fb-4036-909c-1bab0bae7918.mov filter=lfs diff=lfs merge=lfs -text
ed87bb8e-6e8b-4fdd-9454-05ad894e61a2.mov filter=lfs diff=lfs merge=lfs -text
ee49213c-9096-4336-8f24-c6b1f7697d97.mov filter=lfs diff=lfs merge=lfs -text
eeedc114-5c5a-4542-a177-4f784843e0c1.mov filter=lfs diff=lfs merge=lfs -text
f46a94f6-da18-4e01-b6be-0cf85ed4d1ed.mov filter=lfs diff=lfs merge=lfs -text
f565cb90-0df3-4e0f-a703-deb4241aa7c0.mov filter=lfs diff=lfs merge=lfs -text
f756d038-56e6-461f-a5b4-c8fcb8ec79b3.mov filter=lfs diff=lfs merge=lfs -text
f88c0909-8bd6-40ca-9519-af84c4bbb433.mov filter=lfs diff=lfs merge=lfs -text
fb99fc9c-9f08-4a5d-ae1a-a7c519ae74a6.mov filter=lfs diff=lfs merge=lfs -text
fcba8c52-03db-41f9-9094-b04b7ffd5016.mov filter=lfs diff=lfs merge=lfs -text
fake/** filter=lfs diff=lfs merge=lfs -text
real/** filter=lfs diff=lfs merge=lfs -text
metadata.csv filter=lfs diff=lfs merge=lfs -text
